body {
	font-family: "Lato", sans-serif;
	color: #fff;
	background-color: #232323;
}

h1 {
	text-align: center;
	font-family: Lato;

}
.text_box_input {
	width: 100%;
}
.song_name {
	font-size: 2em;
	margin-left: 2em;

}
.tile {
	background-color: transparent;
	margin-top: 1em;
	border: 1px solid #fff;

}
.six {
	margin-left: 1em;
}

.second_half {
	margin-left: 2em;
}
p.artist_name {
	margin-left: 2em;
	color: #fff;
}
.audio_link {
	font-size: 2em;
    margin-left: 1em;
    margin-top: 1em;
}
