html, body {
    height:100%;
	font-family: "Lato", sans-serif;
	color: #fff;
	background-color: #232323;
}
body {
  display: flex;
  flex-direction: column;
}
.content {
  flex: 1 0 auto;
  margin: 5em auto;
}
.footer {
  flex-shrink: 0;
    padding: 20px 10px;
    color: #000000;
    background-color: #1ED760;
    text-align: center;
    margin-top: 3em;
}
h1 {
	text-align: center;
	font-family: Lato;

}
.albumart {
	max-width: 100%;
}
.form {
	margin: 3em auto;
}
.text_box_input {
	width: 100%;
}
.song_info {
	margin: 1em 2em;
}
.song_name {
	font-size: 2em;

}
.tile {
	background-color: transparent;
	margin:2em auto;
	box-shadow: 0px 5px 10px #333;

}

.second_half {
	margin-left: 2em;
}
p.artist_name {
	color: #fff;
}
.audio_link {
	font-size: 2em;
	margin-top: 1em;
}
.audio_link.a {
	color: #1ed760;
}
.whitebtn, .whitebtn:hover {
	color: #fff !important;
}
figure.popularity {
	display: inline-flex;
	margin-top: 35px;
    margin-bottom: 25px;
}
figure.popularity > img.flame {
	width: 2em;
}
.audio_link > a > img {
	height: 2em;
}

  /*icons*/
.python_icon {
	font-size: 4em;
	color: #3776AB;
}
.spotify_icon {
	font-size: 4em;
	color: #03fc0b;
}
.html_icon {
	color: pink;
	font-size: 4em;
} 	
.github_icon {
	font-size: 4em;
}
.font_awesome_icon {
	font-size: 4em;
	color: #007eff;
}
.css_icon {
	color: red;
}

.white_icon {
	font-size: 3em;
	color: #fff;
}	